<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Listing Student Attendances</h2>
	</div><h3></h3>
</div>
<div class="tlist">
	    <table width=100% border="0" cellpadding="0" cellspacing="0">
  <tr>
  		<th>Class Name</th>
        <th>Topic Name</th>
        <th>Student Name</th>
        <th>Attend?</th>
        <th colspan=3 class="ac">Control</th>
  </tr>

<% @studentattendances.each do |studentattendance| %>
  <tr>
  	<td><%=h studentattendance.timetable.classroom_stu %></td>
  	<td><%=h studentattendance.timetable.topic_class %></td>
  	<td><%=h studentattendance.student_details %></td>
  	<td><%=h studentattendance.attend? ? "Attend" : "Not Attend" %></td>
    <td width=10px><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => studentattendance %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => studentattendance %></td>
    <td width=10px ><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), studentattendance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<%= link_to 'New Student Attendance', new_studentattendance_path %>