<div class="tform">
	<H2><%= t 'travel.staff_details' %></H2>
	<table width=100%>
		<tr>
			<td class="leftcol"><label for="staff_id"><b><%= t 'travel.sname' %></b></label><font color="red"> * </font></td>
			<td><%= f.collection_select :staff_id, Staff.find(:all, :order => "icno"), :id, :mykad_with_staff_name, :include_blank => true %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="trcode"><b><%= t 'travel.trcode' %></b></label><font color="red"> * </font></td>
			<td><%= f.text_field :trcode %></td>
		</tr>
</table>
<H2><%= t 'travel.travel_details' %></H2>
<table>

	<tr>
	<td class="leftcol"><label for="destination"><b><%= t 'travel.destination' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_field :destination, :size => '60' %></td>
	</tr>

	<tr>
	   <td class="leftcol"><label for="purpose"><b><%= t 'travel.purpose' %></b></label><font color="red"> * </font></td>
		<td><%= f.text_area :purpose, :size => '60x2' %></td>
	</tr>
	
		<tr>
		 <td class="leftcol"><label for="tstartdt"><b><%= t 'travel.tstartdt' %></b></label></td>
			<td><%= f.date_select :tstartdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
		
		<tr>
		 <td class="leftcol"><label for="treturndt"><b><%= t 'travel.treturndt' %></b></label></td>
			<td><%= f.date_select :treturndt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="bplreserve"><b><%= t 'travel.bplreserve' %></b></label></td>
			<td><%= f.check_box :owncar %><%= t 'travel.owncar' %><%= f.check_box :officecar %><%= t 'travel.ofiscar' %><%= f.check_box :otherscar %><%= t 'travel.others' %><%= f.check_box :train %><%= t 'travel.train' %><%= f.check_box :plane %><%= t 'travel.flight' %><%= f.check_box :publict %><%= t 'travel.public' %></td>
		</tr>
	
		<tr>
		   <td class="leftcol"><label for="ifownwhy"><b><%= t 'travel.ifownwhy' %></b></label></td>
			<td><%= f.text_field :ifownwhy %></td>
		</tr>
		
		<tr><!--13/12/2011 - added field for travel request-->
		  <td class="leftcol"><label for="fuelstart"><b>Fuel Before Used :</b></label></td>
			<td><%=f.text_field :fuelstart, :size =>14, :placeholder => 'RM' %></td>
		</tr>
		<tr><!--13/12/2011 - added field for travel request-->
		  <td class="leftcol"><label for="fuelend"><b>Fuel After Used :</b></label></td>
			<td><%=f.text_field :fuelend, :size =>14, :placeholder => 'RM' %></td>
		</tr>
		<tr><!--13/12/2011 - added field for travel request-->
		  <td class="leftcol"><label for="tngserialno"><b>Touch N Go Serial No :</b></label></td>
			<td><%=f.text_field :tngserialno, :size =>14 %></td>
		</tr>
		<tr><!--13/12/2011 - added field for travel request-->
		  <td class="leftcol"><label for="tngbeforetakenout"><b>Touch n Go Before Used :</b></label></td>
			<td><%=f.text_field :tngbeforetakenout, :size =>14, :placeholder => 'RM' %></td>
		</tr>
		<tr><!--13/12/2011 - added field for travel request-->
		  <td class="leftcol"><label for="tngaftertakenout"><b>Touch n Go After Used :</b></label></td>
			<td><%=f.text_field :tngaftertakenout, :size =>14, :placeholder => 'RM' %></td>
		</tr>
	
		<tr>
			<td class="leftcol"><label for="claimtype"><b><%= t 'travel.claimtype' %></b></label></td>
			<td><%= f.radio_button :claimtype,'false' %><%= t 'travel.km' %><%= f.radio_button :claimtype,'true' %><%= t 'travel.replaced' %></td>
		</tr>
</table>
<H2><%= t 'travel.submission' %></H2>
<table>

	    <tr>
			<td class="leftcol"><label for="submission"><b><%= t 'travel.submissiondate' %></b></label></td>
			<td><%= f.date_select :submission, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>

		<tr>
		<td class="leftcol"><label for="replacement_id"><b><%= t 'travel.replacement_id' %></b></label></td>
		<td><%= f.collection_select :replacement_id, Staff.find(:all, :order => "icno"), :id, :mykad_with_staff_name, :include_blank => true %></td>
		</tr>
</table>
<H2><%= t 'travel.hod_confrm' %></H2>
<table>
		<tr>
			<td class="leftcol"><label for="hod_id"><b><%= t 'travel.hod_id' %></b></label></td>
			<td><%= f.collection_select :hod_id, Staff.find(:all, :order => "icno"), :id, :mykad_with_staff_name, :include_blank => true %></td>
		</tr>

		<tr>
		 <td class="leftcol"><label for="hodconfirmdt"><b><%= t 'travel.hodconfirmdt' %></b></label></td>
		<td><%= f.date_select :hodconfirmdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year], :include_blank => true %></td>
		</tr>

</table>
<BR>
</div>