<div class="tform"><!--09/11/2011 - Shaliza changed title bar -->
	<H2><%= t 'ptbudget.budget_details' %></H2>
  <table width=100% >
	
	
<!--Personal Info-->

	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptbudget.budget' %> : </label></td>
		<td>RM <%=h @ptbudget.budget %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name"><%= t 'ptbudget.fiscalstart' %> : </label></td>
		<td><%=h @ptbudget.fiscalstart %></td>
		
	</tr>
</table>  
</div>
<BR>


<%= link_to (t 'icms.update'), edit_ptbudget_path(@ptbudget) %> |
<%= link_to (t 'icms.back'), ptbudgets_path %>